body {
    font-family 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.notification {
    &_list {
        list-style: none;
        margin: 5px 0;
        padding: 0;
    }
    &_icon {
        position relative
        & span {
            position absolute
            top: -5px
            right: 0
            font-size: 12px
            color: red
        }
    }
}